@{
    Huanr.Models.NativeSoil.tBaseCategory tBaseCategoryParent = ViewBag.tBaseCategoryParent;
    Huanr.Models.NativeSoil.tBaseCategory tBaseCategory = ViewBag.tBaseCategory;
    ViewData["Title"] = "CategoryEdit";
    Layout = "~/Views/Shared/_AdminDialogPageLayout.cshtml";
}
<form class="zero_form zero_form_btns_fixed" id="categoryEditForm" action="/admin/system/categoryEditSave" method="post">
    <dl class="zero_form_group">
        <dt>归属信息</dt>
        <dd><div class="zero_form_text">归属分类归属：</div><div class="zero_form_input"><input type="text" name="BParentID" value="@tBaseCategoryParent.BID"  maxlength="200" readonly="readonly" /></div></dd>
        <dd><div class="zero_form_text">归属分类名称：</div><div class="zero_form_input"><input type="text" name="BParentName" value="@tBaseCategoryParent.BName"  maxlength="200" readonly="readonly" /></div></dd>
    </dl>
    <dl class="zero_form_group">
        <dt>基础分类</dt>
        <dd><div class="zero_form_text">基础分类代码(不可修改)：</div><div class="zero_form_input"><input type="text" name="BID" value="@tBaseCategory.BID" maxlength="36" readonly="readonly" /></div></dd>
        <dd><div class="zero_form_text">基础分类名称：</div><div class="zero_form_input"><input type="text" name="BName" value="@tBaseCategory.BName" maxlength="200" /></div></dd>
        <dd><div class="zero_form_text">基础分类别名：</div><div class="zero_form_input"><input type="text" name="BAsname" value="@tBaseCategory.BAsname"  maxlength="100" /></div></dd>
        <dd><div class="zero_form_text">基础分类排序：</div><div class="zero_form_input"><input type="number" name="BSort"  value="@tBaseCategory.BSort" max="2100000000" min="-2100000000" /></div></dd>
    </dl>
    
    <div class="zero_form_btns">
        <input type="button" name="zero_btnCancel" value="取消" onclick="parentDialogObj.close()" />
        <input type="submit" name="zero_btnSubmit" value="提交" />
    </div>
</form>
@section StyleSection{ }
@section JavaScriptSection{
<script type="text/javascript" src="~/huanr/javascript/adminSystem.js"></script>
<script type="text/javascript">
    zero.ready(function () { adminSystemCategoryEdit.initFunc('categoryEditForm') });
</script>
}