@{
    List<Huanr.Models.NativeSoil.tSystemMenuGroup> tSystemMenuGroupList = ViewBag.tSystemMenuGroupList;
    Huanr.Models.NativeSoil.tSystemMenu tSystemMenu =ViewBag.tSystemMenu;
    Huanr.Models.NativeSoil.tSystemMenuGroup tSystemMenuGroup = tSystemMenuGroupList.Find(o => o.GroupID == tSystemMenu.GroupID);
    if (tSystemMenuGroup == null)
    {
        tSystemMenuGroup = new Huanr.Models.NativeSoil.tSystemMenuGroup { GroupName = "未知" };
    }

    ViewData["Title"] = "RoleDetail";
    Layout = "~/Views/Shared/_AdminDialogPageLayout.cshtml";
}
<form class="zero_form zero_form_btns_fixed zero_form_view" id="menuViewForm">
        <dl class="zero_form_group">
            <dt>菜单信息</dt>
            <dd><div class="zero_form_text">菜单组：</div><div class="zero_form_input">@tSystemMenuGroup.GroupName</div></dd>
            <dd><div class="zero_form_text">菜单名称：</div><div class="zero_form_input">@tSystemMenu.MenuName</div></dd>
            <dd><div class="zero_form_text">菜单链接：</div><div class="zero_form_input">@tSystemMenu.MenuLink</div></dd>
            <dd><div class="zero_form_text">菜单备注：</div><div class="zero_form_input">@tSystemMenu.MenuRemark</div></dd>
            <dd><div class="zero_form_text">菜单排序：</div><div class="zero_form_input">@tSystemMenu.MenuSort</div></dd>
            <dd><div class="zero_form_text">菜单删除：</div><div class="zero_form_input">@if (tSystemMenu.MenuDeleteStatus){<span>是</span>}else {<span>否</span> }</div></dd>
            <dd><div class="zero_form_text">菜单时间：</div><div class="zero_form_input">@tSystemMenu.MenuCreateTime.ToString("yyyy年MM月dd日HH时mm分ss秒")</div></dd>
        </dl>

        <div class="zero_form_btns">
            <input type="button" name="zero_btnCancel" value="关闭" onclick="parentDialogObj.close()" />
        </div>
</form>
@section StyleSection{ }
@section JavaScriptSection{}