@{
    List<Huanr.Models.NativeSoil.tSystemPermissionGroup> tSystemPermissionGroupList = ViewBag.tSystemPermissionGroupList;
    Huanr.Models.NativeSoil.tSystemPermission tSystemPermission =ViewBag.tSystemPermission;

    ViewData["Title"] = "PermissionEdit";
    Layout = "~/Views/Shared/_AdminDialogPageLayout.cshtml";
}
<form class="zero_form zero_form_btns_fixed" id="permissionEditForm" action="/admin/system/permissionEditSave" method="post">
        <dl class="zero_form_group">
            <dt>权限信息</dt>
            <dd><div class="zero_form_text">权限组：</div><div class="zero_form_input"><select name="GroupName">@foreach (var group in tSystemPermissionGroupList) {
                @if (group.GroupName == tSystemPermission.GroupName) {<option value="@group.GroupName" selected="selected">@group.GroupName</option>
                } else {<option value="@group.GroupName">@group.GroupName</option>}
             }</select></div></dd>
            <dd><div class="zero_form_text">权限名称：</div><div class="zero_form_input"><input type="text" name="PermissionName" value="@tSystemPermission.PermissionName" maxlength="50" readonly="readonly" /></div></dd>
            <dd><div class="zero_form_text">权限备注：</div><div class="zero_form_input"><input type="text" name="PermissionRemark" value="@tSystemPermission.PermissionRemark" maxlength="200" /></div></dd>
            <dd><div class="zero_form_text">权限排序：</div><div class="zero_form_input"><input  type="number" name="PermissionSort" value="@tSystemPermission.PermissionSort" max="999999999" min="0" /></div></dd>
            <dd><div class="zero_form_text">权限删除：</div><div class="zero_form_input">
                <input type="hidden" name="PermissionDeleteStatus" value="0" />
                <label><input type="radio" name="PermissionDeleteStatus" value="0" readonly="readonly"@if (!tSystemPermission.PermissionDeleteStatus) {@(new StringHtmlContent(" checked=\"checked\"")) } /> 否</label>
                <label><input type="radio" name="PermissionDeleteStatus" value="1" readonly="readonly"@if (tSystemPermission.PermissionDeleteStatus) {@(new StringHtmlContent(" checked=\"checked\"")) } /> 是</label>
                 </div></dd>
         </dl>

        <div class="zero_form_btns">
            <input type="button" name="zero_btnCancel" value="取消" onclick="parentDialogObj.close()" />
            <input type="submit" name="zero_btnSubmit" value="提交" />
        </div>
</form>
@section StyleSection{ }
@section JavaScriptSection{
<script type="text/javascript" src="~/huanr/javascript/adminSystem.js"></script>
<script type="text/javascript">
    zero.ready(function () { adminSystemPermissionEdit.initFunc('permissionEditForm') });
</script>
}