@functions{
    List<Huanr.Models.NativeSoil.tSystemPermission> FindPermissionList(List<Huanr.Models.NativeSoil.tSystemPermission> source, Huanr.Models.NativeSoil.tSystemPermissionGroup group)
    {
        return source.FindAll(o => o.GroupName == group.GroupName);
    }
    bool PermissionIsChecked(List<Huanr.Models.NativeSoil.tSystemPermission> source, Huanr.Models.NativeSoil.tSystemPermission permission)
    {
        return source.Find(o => o.PermissionName == permission.PermissionName) != null;
    }
}
@{
    Huanr.Models.NativeSoil.tSystemRole tSystemRole = ViewBag.tSystemRole;
    List<Huanr.Models.NativeSoil.tSystemPermissionGroup> permissionGroupList = ViewBag.permissionGroupList;
    List<Huanr.Models.NativeSoil.tSystemPermission> permissionList = ViewBag.permissionList;
    List<Huanr.Models.NativeSoil.tSystemPermission> rolePermissionList = ViewBag.rolePermissionList;
    int groupNum = 0;

    ViewData["Title"] = "RolePermissonAssign";
    Layout = "~/Views/Shared/_AdminDialogPageLayout.cshtml";
}
<form class="zero_form zero_form_btns_fixed" id="rolePermissonAssignForm" action="/admin/system/rolePermissonAssignSave" method="post">
    <input type="hidden" name="RoleName" value="@tSystemRole.RoleName" />
    @foreach(var group in permissionGroupList){groupNum++;
        <dl class="zero_form_group zero_form_group_cols5">
            <dt><label style="display:inline-block;">@group.GroupName</label>
            <label><input type="radio" name="@("group"+groupNum)" value="0" /> 全选</label>
            <label><input type="radio" name="@("group"+groupNum)" value="1" /> 反选</label>
            <label><input type="radio" name="@("group"+groupNum)" value="2" /> 弃选</label>
            </dt>@foreach (var p in FindPermissionList(permissionList, group)) {<dd><div class="zero_form_text">@p.PermissionName</div><div class="zero_form_input"><label><input type="checkbox" name="permissions" value="@p.PermissionName"@if (PermissionIsChecked(rolePermissionList, p)) { @(new StringHtmlContent(" checked=\"checked\""))} /> 选择</label></div></dd> }
        </dl>}
        <div class="zero_form_btns">
            <input type="button" name="zero_btnCancel" value="取消" onclick="parentDialogObj.close()" />
            <input type="submit" name="zero_btnSubmit" value="提交" />
        </div>
</form>
@section StyleSection{ }
@section JavaScriptSection{
<script type="text/javascript" src="~/huanr/javascript/adminSystem.js"></script>
<script type="text/javascript">
    zero.ready(function () { adminSystemRolePermissonAssign.initFunc('rolePermissonAssignForm'); });
</script>
}