@functions{
    List<Huanr.Models.NativeSoil.tSystemMenu> FindMenuList(List<Huanr.Models.NativeSoil.tSystemMenu> source, Huanr.Models.NativeSoil.tSystemMenuGroup group)
    {
        return source.FindAll(o => o.GroupID == group.GroupID);
    }
    bool MenuIsChecked(List<Huanr.Models.NativeSoil.tSystemMenu> source, Huanr.Models.NativeSoil.tSystemMenu menu)
    {
        return source.Find(o => o.MenuID == menu.MenuID) != null;
    }
}
@{
    Huanr.Models.NativeSoil.tSystemRole tSystemRole = ViewBag.tSystemRole;
    List<Huanr.Models.NativeSoil.tSystemMenuGroup> menuGroupList = ViewBag.menuGroupList;
    List<Huanr.Models.NativeSoil.tSystemMenu> menuList = ViewBag.menuList;
    List<Huanr.Models.NativeSoil.tSystemMenu> roleMenuList = ViewBag.roleMenuList;
    int groupNum = 0;

    ViewData["Title"] = "RolePermissonAssign";
    Layout = "~/Views/Shared/_AdminDialogPageLayout.cshtml";
}
<form class="zero_form zero_form_btns_fixed" id="roleMenuAssignForm" action="/admin/system/roleMenuAssignSave" method="post">
    <input type="hidden" name="RoleName" value="@tSystemRole.RoleName" />
    @foreach(var group in menuGroupList){groupNum++;
        <dl class="zero_form_group zero_form_group_cols5">
            <dt><label style="display:inline-block;">@group.GroupName</label>
            <label><input type="radio" name="@("group"+groupNum)" value="0" /> 全选</label>
            <label><input type="radio" name="@("group"+groupNum)" value="1" /> 反选</label>
            <label><input type="radio" name="@("group"+groupNum)" value="2" /> 弃选</label>
            </dt>@foreach (var p in FindMenuList(menuList, group)) {<dd><div class="zero_form_text">@p.MenuName</div><div class="zero_form_input"><label><input type="checkbox" name="menu" value="@p.MenuID"@if (MenuIsChecked(roleMenuList, p)) { @(new StringHtmlContent(" checked=\"checked\""))} /> 选择</label></div></dd> }
        </dl>}
        <div class="zero_form_btns">
            <input type="button" name="zero_btnCancel" value="取消" onclick="parentDialogObj.close()" />
            <input type="submit" name="zero_btnSubmit" value="提交" />
        </div>
</form>
@section StyleSection{ }
@section JavaScriptSection{
<script type="text/javascript" src="~/huanr/javascript/adminSystem.js"></script>
<script type="text/javascript">
    zero.ready(function () { adminSystemRoleMenuAssign.initFunc('roleMenuAssignForm'); });
</script>
}