@{
    List<Huanr.Models.NativeSoil.tSystemRoleGroup> tSystemRoleGroupList = ViewBag.tSystemRoleGroupList;
    Huanr.Models.NativeSoil.tSystemRole tSystemRole =ViewBag.tSystemRole;

    ViewData["Title"] = "RoleDetail";
    Layout = "~/Views/Shared/_AdminDialogPageLayout.cshtml";
}
<form class="zero_form zero_form_btns_fixed zero_form_view" id="roleViewForm">
        <dl class="zero_form_group">
            <dt>角色信息</dt>
            <dd><div class="zero_form_text">角色组：</div><div class="zero_form_input">@tSystemRole.GroupName</div></dd>
            <dd><div class="zero_form_text">角色名称：</div><div class="zero_form_input">@tSystemRole.RoleName</div></dd>
            <dd><div class="zero_form_text">角色备注：</div><div class="zero_form_input">@tSystemRole.RoleRemark</div></dd>
            <dd><div class="zero_form_text">角色排序：</div><div class="zero_form_input">@tSystemRole.RoleSort</div></dd>
            <dd><div class="zero_form_text">角色删除：</div><div class="zero_form_input">@if (tSystemRole.RoleDeleteStatus){<span>是</span>}else {<span>否</span> }</div></dd>
            <dd><div class="zero_form_text">创建时间：</div><div class="zero_form_input">@tSystemRole.RoleCreateTime.ToString("yyyy年MM月dd日HH时mm分ss秒")</div></dd>
        </dl>

        <div class="zero_form_btns">
            <input type="button" name="zero_btnCancel" value="关闭" onclick="parentDialogObj.close()" />
        </div>
</form>
@section StyleSection{ }
@section JavaScriptSection{}